# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientists use are

**ordered list:**
- Python
- R
- Java
- Scala
- C++

### Some of the commonly used libraries used by Data Scientists include:
**ordered list:**
- Numpy
- Pandas
- Matplotlib
- Seaborn
- Scikit learn
- Scipy
- Tensorflow

|Data Science Tools|
|:-:|
|Apache Spark|
|Tensorflow|
|Tableau|
|Excel|
|SQL|

### Below are a few examples of evaluating arithmetic expressions in Python.
#### Example:
- 30/6
- 50*3
- 5-3

#### This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
200 minutes into hours

#### This will convert 200 minutes to hours by diving by 60

In [3]:
minutes = 200
hours = minutes/60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

### **Objectives:**
#### The main objective of data science is to dicover patters in data.
**List popular languages for Data Science.:**
- Python
- SQL
- Scala
- Java
- Julia
- C++

## Author:
### M Achyuth Kumar